<div ng-controller='SurveysController as SC' ng-init="UC.index();SC.index()">
	<div class="userdash">
		<h3>Current User: {{UC.current_user.firstname}}</h3>
		<a href="" ng-click="UC.logout()">Logout</a><br>
		<a href="#!/create">Create a New Poll</a>
	</div>
	<input type="text" ng-model="survey_filter" placeholder="Filter Surveys...">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Survey Question</th>
				<th>Date Posted</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="survey in SC.surveys | filter: survey_filter | orderBy:'createdAt'">
				<td>{{survey.author}}</td>
				<td><a href="#!/survey/{{survey._id}}">{{survey.question}}</a></td>
				<td>{{survey.createdAt | date }}</td>
				<td ng-if = "UC.current_user.firstname == survey.author"><button ng-click="SC.delete(survey._id)">Delete</button></td>
			</tr>
		</tbody>
	</table>


</div>
