<div class="top" ng-init="SC.find()">
  <a href="#!/main">Go to Polls</a>
</div>
<h2>{{SC.survey.question}}</h2>
<h4>Click the Vote button to choose one.</h4>
<table>
  <thead>
    <tr>
      <th>Option</th>
      <th>Current Count of Votes</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{SC.survey.option1.content}}</td>
      <td><center>{{SC.survey.option1.count}}</center></td>
      <td><button ng-click='SC.vote(SC.survey._id,1)'>Vote</button></td>
    </tr>
    <tr>
      <td>{{SC.survey.option2.content}}</td>
      <td><center>{{SC.survey.option2.count}}</center></td>
      <td><button ng-click='SC.vote(SC.survey._id,2)'>Vote</button></td>
    </tr>
    <tr>
      <td>{{SC.survey.option3.content}}</td>
      <td><center>{{SC.survey.option3.count}}</center></td>
      <td><button ng-click='SC.vote(SC.survey._id,3)'>Vote</button></td>
    </tr>
    <tr>
      <td>{{SC.survey.option4.content}}</td>
      <td><center>{{SC.survey.option4.count}}</center></td>
      <td><button ng-click='SC.vote(SC.survey._id,4)'>Vote</button></td>
    </tr>
  </tbody>
</table>
